<a href="https://colab.research.google.com/github/sp4cepl4nts/Resume/blob/main/%D0%9E%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%BF%D0%B5%D1%80%D0%B5%D0%B4_%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%D0%BC_%D0%B4%D0%B0%D1%88%D0%B1%D0%BE%D1%80%D0%B4%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!gdown --id 1QXvqgwjo_PJixFRcapKhjyca_Cd-58pr

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1QXvqgwjo_PJixFRcapKhjyca_Cd-58pr
To: /content/games.csv
100% 835k/835k [00:00<00:00, 99.6MB/s]

In [ ]:
df = pd.read_csv('games.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Critic_Score     8137 non-null   float64
 5   User_Score       10015 non-null  object
 6   Rating           9950 non-null   object
dtypes: float64(2), object(5)
memory usage: 914.4+ KB

In [ ]:
df

,Name,Platform,Year_of_Release,Genre,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,NaN,NaN,NaN
...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,NaN,NaN,NaN

In [ ]:
df1 = df.copy()

In [ ]:
df1.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Critic_Score       8582
User_Score         6704
Rating             6769
dtype: int64

In [ ]:
df1.isnull().mean()*100

Name                0.011962
Platform            0.000000
Year_of_Release     1.608948
Genre               0.011962
Critic_Score       51.330821
User_Score         40.098092
Rating             40.486871
dtype: float64

In [ ]:
df1.dropna(inplace=True)
df1

,Name,Platform,Year_of_Release,Genre,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,76.0,8,E
2,Mario Kart Wii,Wii,2008.0,Racing,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,80.0,8,E
6,New Super Mario Bros.,DS,2006.0,Platform,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,58.0,6.6,E
...,...,...,...,...,...,...,...
16699,Planet Monsters,GBA,2001.0,Action,67.0,tbd,E
16700,Breach,PC,2011.0,Shooter,61.0,5.8,T
16701,Bust-A-Move 3000,GC,2003.0,Puzzle,53.0,tbd,E
16702,Mega Brain Boost,DS,2008.0,Puzzle,48.0,tbd,E
16706,STORM: Frontline Nation,PC,2011.0,Strategy,60.0,7.2,E10+

In [ ]:
df1.reset_index(drop=True, inplace=True)
df1

,Name,Platform,Year_of_Release,Genre,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,76.0,8,E
1,Mario Kart Wii,Wii,2008.0,Racing,82.0,8.3,E
2,Wii Sports Resort,Wii,2009.0,Sports,80.0,8,E
3,New Super Mario Bros.,DS,2006.0,Platform,89.0,8.5,E
4,Wii Play,Wii,2006.0,Misc,58.0,6.6,E
...,...,...,...,...,...,...,...
7873,Planet Monsters,GBA,2001.0,Action,67.0,tbd,E
7874,Breach,PC,2011.0,Shooter,61.0,5.8,T
7875,Bust-A-Move 3000,GC,2003.0,Puzzle,53.0,tbd,E
7876,Mega Brain Boost,DS,2008.0,Puzzle,48.0,tbd,E
7877,STORM: Frontline Nation,PC,2011.0,Strategy,60.0,7.2,E10+

In [ ]:
df1.Year_of_Release.value_counts()

Year_of_Release
2008.0    708
2007.0    692
2005.0    652
2009.0    644
2002.0    627
2006.0    617
2003.0    582
2004.0    556
2010.0    496
2011.0    486
2001.0    325
2012.0    313
2013.0    267
2014.0    257
2016.0    217
2015.0    212
2000.0    141
1999.0     36
1998.0     25
1997.0     14
1996.0      7
1994.0      1
1985.0      1
1992.0      1
1988.0      1
Name: count, dtype: int64

In [ ]:
df1.Year_of_Release = df1.Year_of_Release.astype('int64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7878 entries, 0 to 7877
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             7878 non-null   object
 1   Platform         7878 non-null   object
 2   Year_of_Release  7878 non-null   int64
 3   Genre            7878 non-null   object
 4   Critic_Score     7878 non-null   float64
 5   User_Score       7878 non-null   object
 6   Rating           7878 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 431.0+ KB

In [ ]:
df1 = df1[df1['Year_of_Release'] <= 2010]

In [ ]:
df1 = df1[df1['Year_of_Release'] > 1990]

In [ ]:
df1.reset_index(drop = True)

,Name,Platform,Year_of_Release,Genre,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006,Sports,76.0,8,E
1,Mario Kart Wii,Wii,2008,Racing,82.0,8.3,E
2,Wii Sports Resort,Wii,2009,Sports,80.0,8,E
3,New Super Mario Bros.,DS,2006,Platform,89.0,8.5,E
4,Wii Play,Wii,2006,Misc,58.0,6.6,E
...,...,...,...,...,...,...,...
6119,Super Robot Taisen: Original Generation,GBA,2002,Role-Playing,72.0,tbd,T
6120,Mortal Kombat: Deadly Alliance,GBA,2002,Fighting,81.0,8.8,M
6121,Planet Monsters,GBA,2001,Action,67.0,tbd,E
6122,Bust-A-Move 3000,GC,2003,Puzzle,53.0,tbd,E
6123,Mega Brain Boost,DS,2008,Puzzle,48.0,tbd,E

In [ ]:
df1.Year_of_Release.value_counts()

Year_of_Release
2008    708
2007    692
2005    652
2009    644
2002    627
2006    617
2003    582
2004    556
2010    496
2001    325
2000    141
1999     36
1998     25
1997     14
1996      7
1994      1
1992      1
Name: count, dtype: int64

In [ ]:
df1.User_Score.value_counts()

User_Score
tbd    1009
7.8     229
8       212
8.5     200
8.2     192
       ...
0.9       1
1         1
1.5       1
0.7       1
1.2       1
Name: count, Length: 89, dtype: int64

In [ ]:
import numpy as np
df1.User_Score.replace('tbd', np.NaN, inplace=True)
df1.User_Score.unique()

<ipython-input-18-67539aea5a03>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.User_Score.replace('tbd', np.NaN, inplace=True)

array(['8', '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4', '9',
       '7.9', '8.7', '7.1', '8.9', '6.4', '7.8', '7.5', '9.2', '7.3',
       '8.2', '7.6', '9.1', '8.8', '8.1', '9.4', '6.8', '7.2', '6.5',
       '5.4', '9.3', '6', nan, '4', '6.9', '6.7', '4.6', '7', '5.3',
       '6.1', '5.7', '4.3', '6.2', '5.5', '5.2', '5.6', '5.9', '3.3',
       '4.1', '4.4', '4.5', '1.9', '3.1', '5', '5.8', '2', '9.5', '5.1',
       '3.4', '4.7', '2.6', '2.1', '3.6', '4.8', '4.2', '4.9', '3', '2.9',
       '9.6', '3.7', '3.9', '2.8', '1.7', '3.5', '2.7', '3.8', '2.4',
       '3.2', '1.2', '2.5', '2.3', '0.5', '1.8', '0.6', '0.9', '1', '1.4',
       '1.5', '0.7', '2.2'], dtype=object)

In [ ]:
df1.User_Score = df1.User_Score.astype('float64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6124 entries, 0 to 7876
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6124 non-null   object
 1   Platform         6124 non-null   object
 2   Year_of_Release  6124 non-null   int64
 3   Genre            6124 non-null   object
 4   Critic_Score     6124 non-null   float64
 5   User_Score       5115 non-null   float64
 6   Rating           6124 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 382.8+ KB

In [ ]:
df1.User_Score.describe()

count    5115.000000
mean        7.340039
std         1.399366
min         0.500000
25%         6.700000
50%         7.700000
75%         8.300000
max         9.600000
Name: User_Score, dtype: float64

In [ ]:
df1.Rating.value_counts()

Rating
E       2363
T       2092
M        889
E10+     778
AO         1
K-A        1
Name: count, dtype: int64

In [ ]:
df1.Rating.replace('E', 6, inplace=True)

<ipython-input-22-92bb409597b6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('E', 6, inplace=True)

In [ ]:
df1.Rating.replace('E10+', 12, inplace=True)

<ipython-input-23-03400ccf7c10>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('E10+', 12, inplace=True)

In [ ]:
df1.Rating.replace('T', 16, inplace=True)

<ipython-input-24-7bc8228a6847>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('T', 16, inplace=True)

In [ ]:
df1.Rating.replace('M', 18, inplace=True)

<ipython-input-25-3fd34d314afe>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('M', 18, inplace=True)

In [ ]:
df1.Rating.replace('AO', 18, inplace=True)

<ipython-input-26-12ca05d31bc1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('AO', 18, inplace=True)

In [ ]:
df1.Rating.replace('K-A', 6, inplace=True)

<ipython-input-27-fcbda8356c20>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.Rating.replace('K-A', 6, inplace=True)
<ipython-input-27-fcbda8356c20>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.Rating.replace('K-A', 6, inplace=True)

In [ ]:
df1.Rating.value_counts()

Rating
6     2364
16    2092
18     890
12     778
Name: count, dtype: int64

In [ ]:
df1.Rating = df1.Rating.astype('int64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6124 entries, 0 to 7876
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6124 non-null   object
 1   Platform         6124 non-null   object
 2   Year_of_Release  6124 non-null   int64
 3   Genre            6124 non-null   object
 4   Critic_Score     6124 non-null   float64
 5   User_Score       5115 non-null   float64
 6   Rating           6124 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 382.8+ KB

In [ ]:
df1.Platform.value_counts()

Platform
PS2     1275
XB       702
DS       683
X360     595
Wii      518
PS3      453
PSP      441
GC       437
GBA      426
PC       395
PS       185
DC        14
Name: count, dtype: int64

In [ ]:
df1.to_csv('df1_games.csv')